nav{
    background-color: #fb521d;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    color: white;
    position: fixed;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}